@keyframes moveDown {
    0% {
        top: -200vw;
    }
    100% {
        top: 1vw;
    }
}

.slideIn {
    animation: moveDown 2s forwards;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .8;
    }
}

.fadeIn {
    animation: appear 1s forwards;
}

@keyframes disappear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

.fadeOut {
    animation: disappear 200ms forwards;
}








